.footer {
  color: white;
  font-weight: 800;
  .col {
    text-align: center;
      &.support {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .help {
        padding-bottom: 10px;
      }
      .links {
        color: #101111;
        padding-top: 20px;
        padding-bottom: 20px;
        .text {
          font-weight: 700;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .inst {
        padding-top: 2rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: #101111;
        &:before {
          content: '';
          width: 3rem;
          height: 2px;
          background-color: #C8D5D9;
        }
        .icon-insta {
          margin-top: 1rem;
          width: fit-content;
          padding: .5rem;
          background-color: #0000A3;
          border-radius: 50px;
        }
      }
  }
  .col:nth-child(odd) {
    background-color: #0F0F0F;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .icon {
      background-color: white;
      border-radius: 50px;
      padding: 19px;
    }
    .text {
      text-transform: uppercase;
      margin-top: .7rem;
    }
  }
  .filter {
    display: flex;
    justify-content: center;
  }
  .filter-menu {
    color: #101111;
    padding: 1rem 0 0;
    h4 {
      color:#101111;
      font-family: 'Poppins', sans-serif;
      font-size: 20.4px;
      font-style: normal;
      font-weight: 700;
      line-height: 28.72px;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background-color: #F4F4F4;
      >* {
        margin-top: 1rem;
      }
    }
  }
  .filter-tags {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: .5rem;
    >* {
      border-bottom: 1px solid #E5E5E5;
    }
    .checkbox {
      display: flex;
      justify-content: space-between;
      padding: .5rem 0;
      }
  }
}

.btn-primary {
  background-color: #0000A3;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
  margin-bottom: 1rem;
  font-weight: 700;
  padding: .5rem 1rem;
}
.btn-secondary {
  background-color: #E5E5E5;
  text-transform: uppercase;
  border-radius: 3px;
  margin-bottom: 1rem;
  font-weight: 700;
  padding: .5rem 1rem;
}
