.list {
  margin-bottom: 3rem;
  padding: 1rem;
  .row {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(2,1fr);
    .card {
      width: auto !important;
      padding: 1rem 0 0;
      .card-title {
        color: #101111;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 14px;
      }
      .card-text {
        color: #6D7275;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 11px;
      }
      .card-text-price {
        color: #101111;
        font-family: 'Poppins', sans-serif;
        font-size: 14.16px;
        font-weight: 600;
      }
      .btn {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-color: transparent;
        background-color: #f4f4f4;
        color: #0000A3;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
