.list {
  margin-bottom: 3rem;
  padding: 1rem;
  .row {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(2,1fr);
    .card {
      width: auto !important;
      padding: 1rem 0 0;
      .card-title {
        color: #101111;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 14px;
      }
      .card-text {
        color: #6D7275;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 11px;
      }
      .card-text-price {
        color: #101111;
        font-family: 'Poppins', sans-serif;
        font-size: 14.16px;
        font-weight: 600;
      }
      .btn {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-color: transparent;
        background-color: #f4f4f4;
        color: #0000A3;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

h1 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

  .filter {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    z-index: 2;
    width: 100vw;
    .btn-primary {
      margin-bottom: .5rem;
    }
  }
  .filter-menu {
    position: sticky;
    bottom: 0;
    z-index: 2;
    background-color: white;
    color: #101111;
    padding: 1rem 0 0;
    width: 100vw;
    .close {
      position: absolute;
      right: 0;
      top: 0;
      border: 1px solid #E5E5E5;
      border-radius: 3px;
      padding: .5rem;
    }
    h4 {
      color:#101111;
      font-family: 'Poppins', sans-serif;
      font-size: 20.4px;
      font-style: normal;
      font-weight: 700;
      line-height: 28.72px;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background-color: #F4F4F4;
      >* {
        margin-top: 1rem;
      }
    }
  }
  .filter-tags {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: .5rem;
    >* {
      border-bottom: 1px solid #E5E5E5;
    }
    .checkbox {
      display: flex;
      justify-content: space-between;
      padding: .5rem 0;
      }
  }

  .btn-primary {
  background-color: #0000A3;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
  margin-bottom: 1rem;
  font-weight: 700;
  padding: .5rem 1rem;
}
.btn-secondary {
  background-color: #E5E5E5;
  text-transform: uppercase;
  border-radius: 3px;
  margin-bottom: 1rem;
  font-weight: 700;
  padding: .5rem 1rem;
}
